<?xml version="1.0"?>
<!--
/**
 * @category    Retargeting
 * @package     Retargeting_Tracker
 * @author      Retargeting <info@retargeting.biz>
 * @copyright   Copyright (c) Retargeting
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <tabs>
        <retargetingconfig translate="label" module="retargeting_tracker">
            <label>Retargeting</label>
            <sort_order>99999</sort_order>
        </retargetingconfig>
    </tabs>
    <sections>
        <retargetingtracker_options translate="label" module="retargeting_tracker">
            <label>Retargeting Tracker Options</label>
            <tab>retargetingconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <domain translate="label">
                    <label>Domain</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <domain_api_key>
                            <label>Domain API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="https://retargeting.biz/admin?action=api_redirect&token=5ac66ac466f3e1ec5e6fe5a040356997">Click here</a> to get your Domain API Key]]></comment>
                        </domain_api_key>
                    </fields>
                </domain>
                <token translate="label">
                    <label>Token</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <token>
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="https://retargeting.biz/admin?action=api_redirect&token=028e36488ab8dd68eaac58e07ef8f9bf">Click here</a> to get your token]]></comment>
                        </token>
                    </fields>
                </token>
                <information translate="label">
                    <label>Specific URLs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<strong>token API URL:</strong> /retargetingtracker/discounts/addDiscountCode<br><strong>Products Feed URL:</strong> /retargetingtracker/products]]></comment>
                </information>
                <more translate="label">
                    <label>More</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <help_pages>
                            <label>Help Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>retargeting_tracker/helppages</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </help_pages>
                        <facebook translate="label">
                            <label>Activate Like Facebook Function</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!--<comment><![CDATA[likeFacebook function]]></comment>-->
                        </facebook>
                        <css translate="label">
                            <label>Main image CSS Class</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Insert your main product image CSS Class]]></comment>
                        </css>
                        <cartid translate="label">
                            <label>Add To Cart Button ID or Class</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add To Cart Button ID or Class]]></comment>
                        </cartid>
                        <pricelabelid translate="label">
                            <label>Add Price Label ID or Class</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add Price Label ID or Class]]></comment>
                        </pricelabelid>
                    </fields>
                </more>

            </groups>
        </retargetingtracker_options>
    </sections>
</config>
